.atm-image {
  width: 200px;
}

.man-image {
  width: 30px;
}

.queue {
  border-radius: 4px;
  padding: 8px;
  background-color: lightgray;
  max-height: 80vh;
  overflow-y: auto;
}

.queue-item {
  border-radius: 4px;
  background-color: white;
}
